@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --accent-rgb: 173, 216, 230; /* light blue */
  --accent-glow-rgb: 240, 248, 255; /* alice blue, very light blue */
  --border-rgb: --foreground-rgb;
  --margin: 1rem;
  --radius: 0.5rem;
  --gap: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  // :root {
  //   --foreground-rgb: 255, 255, 255;
  //   --background-rgb: 48, 44, 52;
  //   --accent-rgb: 32, 28, 36;
  //   --accent-glow-rgb: 66, 65, 77;
  //   --border-rgb: --accent-rgb;
  // }
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --accent-rgb: 19, 17, 17;
    --accent-glow-rgb: 66, 65, 77;
    --border-rgb: 59, 56, 53;
  }
}

@media (min-width: 768px) {
  :root {
    --margin: 2rem;
    --gap: 1rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --margin: 3rem;
    --gap: 1.5rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// anchor scroll fix
.anchor {
  visibility: hidden;
  position: absolute;
  top: -60px;
  @media (min-width: 768px) {
    top: -70px;
  }
}
// typography
h1 {
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 1.2;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}
h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
}
h4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
}



// SLICK SLIDER

.slider {
  aspect-ratio: 2;
}

.carousel .slider .slide .legend {
  background: rgb(var(--accent-glow-rgb));
  color: rgb(var(--foreground-rgb));
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    filter: invert(99%) sepia(47%) saturate(0%) hue-rotate(104deg) brightness(113%) contrast(100%);
  }
}
.carousel .slider .slide a {
  height: 100%;
  width: 100%;
}

.carousel .slider .slide img {
  height: 100%;
  width: 100%;
}