.wrapper {
  border-radius: var(--radius);
  background-color: rgb(var(--accent-rgb));
  padding: 1rem;
  border: 1px solid rgb(var(--border-rgb));
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  position: relative;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .center {
    display: flex;
    justify-content: center;
    height: 100%;
    flex: 1 1 0;
  }
  .fill {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    padding: 0 2rem;
    line-height: 1.5;
    li {
      margin-bottom: var(--gap);
    }
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(
      180deg,
      rgba(var(--accent-rgb), 0) 0%,
      rgba(var(--accent-rgb), 1) 75%
    );
    button {
      border: none;
      background: none;
      text-decoration: underline;
    }
  }

}